.appWrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.resultWrapper{
    border: 1px solid black;
    padding: 0.5rem 2rem;
    margin: 0.5rem;
}
.searchResults{
    margin: 1rem;
  text-align: left;
}
.from_to_details {
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.from_to_details h3{
    margin-right: 0.5rem;
}
.from_to_details h1{
    margin-right: 0.5rem;
}
.sliderValues{
    display: flex;
    justify-content: space-between;
}
.sidebar{
    display: flex;
    flex-direction: column;
    border: 1px black solid;
    padding: 0.5rem;
}
.searchBtn{
    margin-top: 1rem;
}
.status{
    text-align: right;
    float:right;
    padding:0.5rem;
    background-color:green;
}
